__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.venv/

.ipynb_checkpoints/

preprocessed_data/
data/
dataset/
datasets/

*.pth
*.pt
*.ckpt

*.zip
*.rar
*.7z

.DS_Store
Thumbs.db

.vscode/
.idea/